<!-- chat_forum/templates/chat_forum/update_user.html -->

{% extends 'main.html' %}

{% load static i18n %}

{% block favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon1.ico' %}">
{% endblock %}

{% block title %}
    - {% trans "Update User Template" %}
{% endblock %}

{% block edit_profile_btn %}{% endblock %}

{% block content %}

    <main class="update-account layout">
        <div class="container-fluid">
            <div class="">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <a href="{{request.META.HTTP_REFERER}}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                viewBox="0 0 32 32">
                                <title>{% trans "arrow-left" %}</title>
                                <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                                </path>
                            </svg>
                        </a>
                        <h3>{% trans "Update Profile" %}</h3>
                    </div>
                </div>
                <div class="layout__body">
                    <form class="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                      
                        {% for field in form %}
                        <div class="form__group">
                            <label for="profile_pic">{% trans field.label %}</label>
                            {{field}}
                        </div>
                        {% endfor %}
                        
                        <div class="form__action center">
                            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">{% trans "Cancel" %}</a>
                            <button class="btn btn--main" type="submit">{% trans "Update" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </main>
    
{% endblock %}
