<!DOCTYPE html>
{% load static i18n %}
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="geo.place-name" content="Spain">
  <meta property="og:type" content="website">
  <meta name="description"
    content="{% trans 'Experience the power of AI with ·SìįSí·Dbt·, your personal assistant powered by ChatGPT. Enhance productivity, streamline tasks, and get personalized assistance.' %}">
  <meta property="og:title" content="{% trans '·SìįSí·Dbt· - AI Personal Assistant' %}">
  <meta property="og:description"
    content="{% trans '·SìįSí·Dbt· - Your personal assistant powered by ChatGPT AI. Increase productivity, automate tasks, and receive personalized recommendations.' %}">
  <meta property="og:image" content="https://siisi.copromanager.pro/static/images/logo_ai.jpg">
  <meta property="og:url" content="https://siisi.copromanager.pro">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% trans '·SìįSí·Dbt· - AI Personal Assistant' %}">
  <meta name="twitter:description"
    content="{% trans '·SìįSí·Dbt· - Your personal assistant powered by ChatGPT AI. Increase productivity, automate tasks, and receive personalized recommendations.' %}">
  <meta name="twitter:image" content="https://siisi.copromanager.pro/static/images/logo3.jpg">
  <meta name="keywords"
    content="{% trans 'AI assistant, ChatGPT, productivity, automation, personalized recommendations, ·SìįSí·Dbt·' %}">
  <meta name="author" content="{% trans 'Developer' %}">
  <meta name="google-site-verification" content="bYBQsihs2g2t3_99rBWJO60qaXSCS7ay3kIz5urnBGs">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <noscript>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  </noscript>

  <title>{% block title %}{% endblock %} 👌🏿{% trans '·SìįSí·Dbt· App' %}💪🏿</title>

  <!-- reCAPTCHA_v3 -->
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6LcIhHoqAAAAAApFkpygkoHmhy-nvpjpK41ntV4K"></script>

  <!-- Font Awesome Kit -->
  <script src="https://kit.fontawesome.com/79e7395fe9.js" crossorigin="anonymous" defer></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

  {% block favicon %} {% endblock %}

  {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
  <div id="content" class="container-fluid">
    <!-- Content-Title -->
    {% block content1 %}
    <div class="container-fluid">
      <div class="p-3 rounded-3 jumbotron text-light">
        <div class="container-fluid p-1">
          <h1 class="">
            <img src="{% static 'images/crown.webp' %}" alt="{% trans 'Crown Icon' %}" class="crown img-fluid mx-auto" width="100" height="100">
            {% trans '·SìįSí·Dbt· OpenAI' %}
            <img src="{% static 'images/crown.webp' %}" alt="{% trans 'Crown Icon' %}" class="crown img-fluid mx-auto" width="100" height="100">
          </h1>
        </div>
      </div>
    </div>
    {% endblock %}
    
    <div class="darkmode-selectlang-container mb-3">
      <div class="togglebutton">
        <label>
          <input type="checkbox" id="theme-toggle">
          <span id="darkMode" class="toggle"></span>
        </label>
        <span class="dark-mode-text">{% trans 'Dark Mode' %}</span>
      </div>
    
      <form class="language-form" method="post" action="{% url 'set_language' %}">
        {% csrf_token %}
        <select name="language" onchange="this.form.submit()">
          {% for lang_code, lang_name in LANGUAGES %}
          <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
            {{ lang_name }}
          </option>
          {% endfor %}
        </select>
      </form>
    </div>

    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    {% block work_in_progress %}
    <p class="text-center mb-5"><img src="https://media.giphy.com/media/QJfCtrknxjcGPnRfMl/giphy.gif" alt="{% trans 'Work in Progress Animation' %}" style="width:19%;"></p>
    {% endblock %}

    <!-- Room List Start -->
    <!-- { if not hide_edit_user and request.user == user } -->
    {% block profile__avatar %}
    {% if user.is_authenticated %}
    <div class="roomList">
      <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="{{ user.username|escapejs }}'s {% trans 'Avatar' %}" />
            {% else %}
            <img src="{% static 'images/avatar.svg' %}" alt="{% trans 'Default Avatar' %}" />
            {% endif %}
          </div>
        </div>
        <div class="profile__info">
          {% if user.is_authenticated %}
          <h3>{{ user.username }} 🚀</h3>
          <p>{{ user.email }}</p>
          {% block edit_profile_btn %}
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">{% trans 'Edit Profile' %}</a>
          {% endblock %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endblock %}
    <!-- Room List End -->

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Content -->
    <div>{% block content %}{% endblock %}</div>

  </div>

  <div>
    <!-- Footer -->
    {% block footer1 %}{% endblock %}

    {% block footer %}
    <footer id="footer">
      <h6 class="text-center mb-3">
        <a href="https://siisi.api.copromanager.pro/docs" target="_blank" class="api">
          {% trans 'SìįSí FastAPI' %}
        </a>
      </h6>

      <div>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/dbtevolution/" aria-label="{% trans 'Instagram DBTEvolution' %}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://siisi.api.copromanager.pro/docs" aria-label="{% trans 'FastAPI Documentation' %}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa-solid fa-code fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/isaacaisha" aria-label="{% trans 'Isaac Aisha\'s GitHub' %}" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>

            <div class="center mb-3">
              <span class="copyright">
                © DBT {% trans 'Copyright' %} {{ date }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %}
    
    <!-- reCAPTCHA_v3 grecaptcha.execute para todas las acciones que quieras proteger -->
    <script>
      function onClick(e) {
        e.preventDefault();
        grecaptcha.enterprise.ready(async () => {
          const token = await grecaptcha.enterprise.execute('6LcIhHoqAAAAAApFkpygkoHmhy-nvpjpK41ntV4K', { action: 'LOGIN' });
        });
      }
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/dark-mode.js' %}"></script>
    <script src="{% static 'js/adjust-textarea.js' %}" defer></script>

    <!-- If we use Bootstrap components that require Javascript add the following file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous" defer>
      </script>

  </div>
</body>

</html>
