{% load static %}

<!-- Navbar -->
{% if not hide_navbar %}
<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand col" href="https://www.siisi-api.online/docs" aria-label="SìįSí Dbt Documentation"
    target="_blank">
    SìįSí Dbt
  </a>
  <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    Menu <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link log-out" href="{% url 'logout' %}">
          <span class="d-block" style="font-size:1.9rem;">∞<br>∞ New session ∞<br></span>
          <button id="logout" type="button" class="btn btn-secondary">
            <span class="gold1" style="font-size:1.45rem;">Login</span>
          </button>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'conversation-interface' %}">
          Conversation Interface
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'all-conversations' %}">All Your Conversations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'liked-conversations' %}">Liked Conversations 
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'conversation-by-id' %}">ID Conversation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'delete-conversation' %}">Delete Conversation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chat-forum' %}">Chat Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'drawing-generator' %}">Drawing Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website-review-generator' %}">Website Review Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'liked-reviews' %}">Liked Reviews <i class="fa fa-heart"></i></a>
      </li>
      <li class="nav-item">
        <hr class="gold" style="margin: 0 37%;">
        <a class="nav-link" href="{% url 'extras-features' %}">Extras Features</a>
        <hr class="gold" style="margin: 0 37%;">
      </li>
      <li class="nav-item">
        <a class="nav-link log-out" href="{% url 'logout' %}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endif %}
