{% load static i18n %}

<!-- Navbar -->
{% if not hide_navbar %}
<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand col" href="https://siisiex.copromanager.pro/" aria-label="{% trans 'SìįSí Dbt Documentation' %}"
    target="_blank">
    {% trans 'SìįSí Dbt' %}
  </a>
  <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="{% trans 'Toggle navigation' %}">
    {% trans 'Menu' %} <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link log-out" href="{% url 'logout' %}">
          <span class="d-block" style="font-size:1.9rem;">∞<br>∞ {% trans 'New session' %} ∞<br></span>
          <button id="logout" type="button" class="btn btn-secondary">
            <span class="gold1" style="font-size:1.45rem;">{% trans 'Login' %}</span>
          </button>
        </a>
      </li>
      {% else %}
      <!-- Login Super User -->
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'login-superuser' %}">
          {% trans 'Super User' %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'conversation-interface' %}">
          {% trans 'Conversation Interface' %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'all-conversations' %}">
          {% trans 'All Your Conversations' %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'liked-conversations' %}">
          {% trans 'Liked Conversations' %} 
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'conversation-by-id' %}">
          {% trans 'ID Conversation' %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'delete-conversation' %}">
          {% trans 'Delete Conversation' %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chat-forum' %}">
          {% trans 'Chat Forum' %}
        </a>
      </li>
      <!-- Uncommented Section -->
      <!--
      <li class="nav-item">
        <a class="nav-link" href="{% url 'drawing-generator' %}">
          {% trans 'Drawing Generator' %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website-review-generator' %}">
          {% trans 'Website Review Generator' %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'liked-reviews' %}">
          {% trans 'Liked Reviews' %} <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="nav-item">
        <hr class="gold" style="margin: 0 37%;">
        <a class="nav-link" href="{% url 'extras-features' %}">
          {% trans 'Extras Features' %}
        </a>
        <hr class="gold" style="margin: 0 37%;">
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link log-out" href="{% url 'logout' %}">
          {% trans 'Logout' %}
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endif %}
