{% extends 'main.html' %}

{% block title %}
    - Room Template
{% endblock %}

{% block content %}

<div class="room-container">

    <div>

        <h1>Room 🔥{{room.id}}🔥 Data:</h1>
        
        <h2>Room Name:<br>{{room.name}}</h2>
        <h3>Room Description:<br>{{room.description}}</h3>
        <p>
            author: {{room.host}}<br>
            updated: {{room.updated|timesince}} ago<br>
            created: {{room.created}}
        </p>
        <hr>
    
        <div class="comment-wrapper">
            <h3>Conversation:</h3>
            {% for message in room_messages %}
                <div>
                    {% if request.user == message.user %}
                        <a href="{% url 'delete-message' message.id %}">Delete</a>
                    {% endif %}
                    <small>@{{message.user}} {{message.created|timesince}} ago</small>
                    <br>
                    <span>{{message.body}}</span>
                    <hr>
                </div>
            {% endfor %}
        </div>
    
        {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Write your message here...">
                </form>
            </div>
        {% endif %}

    </div>

    <div>
        <h3>Participants</h3>
        <p>Total Participants: {{participants.count}}</p>
        {% for user in participants %}
            <hr>
            <div>
                <p>Username: @{{user.username}}</p>
            </div>
        {% empty %}
            <p>No participants found.</p>  <!-- Handle case when no participants -->
        {% endfor %}
    </div>

    
</div>

{% endblock %}
