{% extends 'main.html' %}

{% load static %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon7.ico' %}">
{% endblock %}

{% block title %}
{% if page != 'login' %}
- Register Template
{% else %}
- Login Template
{% endif %}
{% endblock %}

{% block profile__avatar %}{% endblock %}

{% block content %}

<main class="auth layout">
  {% if page == 'login' %}
  <div class="">
    <div class="container">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Login</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">-¡!¡- SìįSí Chacal -¡!¡-</h2>

        <form class="form" method="POST" action="">
          {% csrf_token %}

          <div class="form__group">
            <label for="username">Email</label>
            <input id="username" name="email" type="text" placeholder="e.g. siisiAi@gmail.com" />
          </div>

          <div class="form__group" style="position: relative;">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="••••••••" />
            <!-- Eye icon for toggling password visibility -->
            <i class="fa fa-eye-slash position-absolute" id="togglePassword"
              style="cursor: pointer; top: 73%; right: 10px; transform: translateY(-50%);"></i>
          </div>

          <!-- reCAPTCHA_v2 i-Frame -->
          <div class="form__group">
            <div id="recaptcha-container">{{ form.captcha }}</div>
            {% for error in form.captcha.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <div class="text-center">
            <button class="btn btn--main" type="submit">
              Login
            </button>
          </div>
        </form>

        <div class="auth__action">
          <p>Haven't signed up yet?</p>
          <a href="{% url 'register' %}" class="btn btn--link">Sign Up</a>
        </div>

        <!-- Forgot your password? -->
        <div class="auth__action">
          <p>Forgot your password?</p>
          <a href="{% url 'password_reset' %}" class="btn btn--link">Reset Password</a>
        </div>

      </div>
    </div>
  </div>

  {% else %}
  <div class="">
    <div class="container">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Register</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">-¡!¡- Good or Good -¡!¡-</h2>

        <form class="form" method="POST" action="">
          {% csrf_token %}
          
          <div class="form__group" style="position: relative;">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
          </div>
          
          <div class="form__group" style="position: relative;">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
          </div>
          
          <div class="form__group" style="position: relative;">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
          </div>
          
          <div class="form__group" style="position: relative;">
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            {{ form.password1 }}
            <i class="fa fa-eye-slash position-absolute"
              style="cursor: pointer; top: 73%; right: 10px; transform: translateY(-50%);"
              onclick="togglePassword('{{ form.password1.id_for_label }}')"></i>
          </div>
          
          <div class="form__group" style="position: relative;">
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            {{ form.password2 }}
            <i class="fa fa-eye-slash position-absolute"
              style="cursor: pointer; top: 73%; right: 10px; transform: translateY(-50%);"
              onclick="togglePassword('{{ form.password2.id_for_label }}')"></i>
          </div>
          
          <!-- reCAPTCHA manually rendered -->
          <div class="form__group">
            <div id="recaptcha-container">{{ form.captcha }}</div>
            {% for error in form.captcha.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
          
          <div class="text-center">
            <button class="btn btn--main" type="submit">
              Register
            </button>
          </div>
        </form>

        <div class="auth__action">
          <p>Already Signed Up?</p>
          <a href="{% url 'login' %}" class="btn btn--link">Login</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</main>

{% endblock %}
