<!-- templates/base/password_reset_done.html -->
{% extends 'main.html' %}

{% load static %}

{% block title %} Password Reset Done {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon1.ico' %}">
{% endblock %}

{% block profile__avatar %}{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center" style="min-height: 33vh;">
        <div class="card shadow-sm p-4" style="max-width: 500px; width: 100%;">
            <h2 class="text-center mb-4">Password Reset</h2>
            <p class="text-muted text-center mb-4">
                If an account with that email exists, you will receive a password reset email shortly.
            </p>
    
            <div class="text-center mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary text-success">Back to Login</a>
            </div>
        </div>
    </div>

{% endblock %}
