<!-- two_factor_auth/templates/two_factor_auth/password_reset_request.html-->

{% extends 'main.html' %}

{% load static i18n %}
{% load custom_filters %}

{% block title %}{% trans "Password Reset Request" %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon3.ico' %}">
{% endblock %}

{% block profile__avatar %}{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center mb-5" style="min-height: 33vh;">
    <div class="card shadow-sm p-4" style="max-width: 500px; width: 100%;">
        <h2 class="text-center mb-4">{% trans "Reset Your Password" %}</h2>
        <p class="text-center text-muted mb-4">{% trans "Enter your email address below, and we’ll send you a link to reset your password." %}</p>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.email.label_tag }} <!-- Label for email -->
                {{ form.email|add_class:"form-control" }} <!-- Email input with Bootstrap styling -->
                {% if form.email.errors %}
                <div class="text-danger small">{{ form.email.errors.0 }}</div>
                {% endif %}
            </div>
            <button type="submit" class="center-icon btn btn--main btn-sm w-100 text-success justify-content-center">
                <i class="fa-solid fa-check"></i>
                {% trans "Send Reset Link" %}
            </button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-muted" style="text-decoration: underline;">
                {% trans "Back to login" %}
            </a>
        </div>
    </div>
</div>

{% endblock %}
