<!-- two_factor_auth/templates/two_factor_auth/password_reset_complete.html-->

{% extends 'main.html' %}

{% load static i18n %}

{% block title %}{% trans "Password Reset Complete" %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon7.ico' %}">
{% endblock %}

{% block profile__avatar %}{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center mb-5">
        <div class="card shadow-sm p-4" style="max-width: 500px; width: 100%;">
            <h2 class="text-center mb-4">{% trans "Password Reset Complete" %}</h2>
            <p class="text-muted text-center mb-3">
                {% trans "Your password has been successfully reset. You can now log in with your new password." %}
            </p>
            <a href="{% url 'login' %}" class="btn btn-primary w-100 justify-content-center text-success">
                {% trans "Back to Login" %}
            </a>
        </div>
    </div>

{% endblock %}
